@use "./../../Variables.scss" as *;

.button {
  padding: 10px;
  margin: 5px 0px;
  border-radius: 30px;
  font-size: 15px;

  &--large {
    font-size: 18px;
    margin: 0 15px;
  }

  &--medium {
    width: 80%;
    padding: 7px;
  }

  &--small {
    width: 35%;
    padding: 10px;
  }

  &--primary {
    background-color: $font-color-white;
    border: 1px solid $brand-color;
    color: $brand-color;

    &:active {
      background-color: $brand-color;
      color: $font-color-white;
    }
  }

  &--secondary {
    background-color: $brand-color;
    border: 1px solid $brand-color;
    color: $font-color-white;

    &:active {
      background-color: $font-color-white;
      color: $brand-color;
    }
  }
}

@media screen and (min-width: 1050px) {
  .button {
    &--large {
      font-size: 16px;
      margin: 0 5px;
      padding: 10px;
    }
  }
}