@use "./../../Variables.scss" as *;

.event-card {
  border-radius: 10px;
  width: 90vw;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
  padding: 10px;
  background-color: $card-color;

  &__topline {
    .topline__image {
      height: 300px;
    }

    .topline__name {
      font-size: 20px;
      margin: 5px 0;
    }

    .topline__detail {
      &--bold {
        font-weight: bold;
      }
    }
  }

  &__details {
    padding: 10px;
    .details__name {
      font-size: 25px;
      padding-bottom: 10px;
    }

    .details__desc {
      padding-bottom: 20px;
      font-size: $card-font-size;
    }

    .details__title {
      font-size: 20px;
      padding-bottom: 10px;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 430px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
  }
}

@media screen and (min-width: 450px) {
  .event-card {
    width: 70%;
  }
}

@media screen and (min-width: 600px) {
  .event-card {
    height: 70vw;
    width: 85%;

    &__topline {
      .topline__image {
        height: 40vw;
      }
    }

    &__buttons {
      margin-top: 60vw;
    }
  }
}

@media screen and (min-width: 900px) {
  .event-card {
    height: 45vw;
    width: 80%;

    &__topline {
      .topline__image {
        height: 25vw;
      }
    }

    &__buttons {
      margin-top: 40vw;
    }
  }
}

@media screen and (min-width: 1150px) {
  .event-card {
    height: 35vw;
    padding: 15px;

    &__buttons {
      margin-top: 30vw;
    }

    &__topline {
      .topline__image {
        height: 15vw;
      }

      .topline__time {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 1350px) {
  .event-card {
    height: 33vw;

    &__buttons {
      margin-top: 28vw;
    }
  }
}

@media screen and (min-width: 1550px) {
  .event-card {
    height: 30vw;

    &__buttons {
      margin-top: 26vw;
    }
  }
}
