@use "./../../Variables.scss" as *;

.event-card {
  border: 1px solid black;
  border-radius: 10px;
  width: 90vw;
  height: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px;
  padding: 10px;

  &__topline {
    .topline__image {
      height: 300px;
    }

    .topline__name {
      font-size: 25px;
      margin: 5px 0;
    }
  }

  &__details {
    margin: 10px;

    .details__name,
    .details__desc {
      padding-bottom: 10px;
    }
  }

  &__buttons {
    display: flex;
    margin-top: 420px;
    align-items: center;
    justify-content: space-between;
    position: absolute;
  }
}
