@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$primary-font: "Nunito";


$navigation-menu-font-size: 20px;
$navigation-menu-font-weight: 100;

$font-color-white: white;
$button-color: rgb(50, 105, 100);
$card-color: lighten($button-color, 50%);
$grey-color: rgb(47,47, 47);

$card-font-size: 18px;
