@use "./../../Variables.scss" as *;

.searchbar {
  &__input {
    width: 300px;
    padding: 5px;
    margin: 10px 30px;
    border-radius: 15px;
  }
}

@media screen and (min-width: 750px) {
  .searchbar {
    &__input {
      margin: 20px 30px;
    }
  }
}
